
.btcprice {
  height: 300px;
  width: 100%;
}

circle {
  color: red;
  fill: red;
  opacity: 0.1;
}
.stats {
  width: 100%;
  color: white;
  font-size: 0.7em;
  background: #222;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.stats div {
  width: 100px;
  margin: 3px 3px;
}

#chartArea {
  background: white;
  margin: 0px auto 0 auto;
  /*padding: 15px 5px 15px 15px;*/
  height: 500px;
  /*border: 3px solid black;*/
  /*overflow: hidden;*/
}

#chartInfo {
  float: right;
  border: 1px solid black;
  width: 600px;
  height: 60px;
  margin: 0 0 3px auto;
}

.chart {
  width: 620px;
  height: 280px;
  margin-top: auto;
  float: right;
}
