.uldl {
  height: 210px;
}

.file {
  background: green;
  float: left;
  width: 100%;
  height: 100px;
  color: black;
  font-family: 'Source Code Pro', monospace;
  border: 3px dashed lightgreen;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  position: relative;
  overflow:hidden;
}

.file:hover {
  background: lightgreen;
}

.importexport {
  width: 25%;
  opacity: 80%;
}

.importexport:hover {
  opacity: 100%;
  color: green;
}
