.uldl {
  height: 125px;
  width: 480px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.file {
  background: green;
  width: 45%;
  height: 100px;
  color: black;
  font-family: 'Source Code Pro', monospace;
  border: 3px dashed lightgreen;
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.file:hover {
  background: lightgreen;
}

.importexport {
  width: 25%;
  opacity: 80%;
}

.importexport:hover {
  opacity: 100%;
  color: green;
}
