.Pie {
  width: 100%;
  height: 300px;
}
.pieOptions {
  width: 100%;
  margin: 0 auto;
  height: 40px;
  color: lightgreen;
  background: black;
  border: 1px solid red;
}
.date {
  margin: 0px;
}
.slider {
    width: 80%; /* Full-width */
    height: 10px; /* Specified height */
}
